@model IEnumerable<TargetsMvc.Dto.MissionDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Missions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeLeft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MissionStatus)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @if (item.MissionStatus == TargetsMvc.Dto.MissionStatus.Proposal)
                    {
                        
                        @Html.ActionLink("Assigned", "Assigned", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
